* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  color: #000;
  background-color: #ffffff;
  margin: 0;
  padding-bottom: 100px; /* la meme taille que FOOTER */
}
h1,
h2,
h3,
h4,
h5 {
  color: #000;
}
.content-wrapper {
  width: 1050px;
  margin: 0 auto 10px;
}

/********************************************************HEADER*********************************************************/
header {
  border-bottom: 1px solid;
  background-color: #999999;
}
header .content-wrapper {
  display: flex;
}
header h1 {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  font-size: 25px;
  margin: 0;
  padding: 24px 0;
  color: #000;
}
header nav {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: #000;
  padding: 10px 10px;
  margin: 0 10px;
  font-size: 20px;
}
header nav a:hover {
  border-bottom: 1px solid #ffffff;
}
header .link_cart {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
header .link_cart a {
  text-decoration: none;
  color: #000;
  padding: 10px 10px;
  font-size: 20px;
}
header .link_cart a:hover {
  border-bottom: 1px solid #ffffff;
}

/********************************************************HOME*********************************************************/
main .featured {
  display: flex;
  flex-direction: column;
  background-image: url(imgs/Image_noire.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main .featured h2 {
  display: inline-block;
  margin: 0;
  width: 1050px;
  font-size: 68px;
  color: #ffffff;
  padding-bottom: 10px;
}
main .featured p {
  display: inline-block;
  margin: 0;
  width: 1050px;
  font-size: 24px;
  color: #ffffff;
}

main .products,
main .products .products-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 0 0;
}
main .products .product,
main .products .products-wrapper .product {
  display: block;
  overflow: hidden;
  text-decoration: none;
  width: 25%;
  padding-bottom: 60px;
}

main .products .product .name,
main .products .products-wrapper .product .name {
  display: block;
  color: #555555;
  padding: 20px 0 2px 0;
}
main .products .product .price,
main .products .products-wrapper .product .price {
  display: block;
  color: #999999;
}

main .products .product:hover .name,
main .products .products-wrapper .product:hover .name {
  text-decoration: underline;
}
/********************************************************PRODUCT********************************************************/
main > .product {
  display: flex;
  padding: 40px 0;
}
main > .product > div {
  padding-left: 15px;
}
main > .product h1 {
  font-size: 34px;
  font-weight: normal;
  margin: 0;
  padding: 20px 0 10px 0;
}
main > .product .price {
  display: block;
  font-size: 22px;
  color: #999999;
}
main > .product form {
  display: flex;
  flex-flow: column;
  margin: 40px 0;
}
main > .product form input[type="number"] {
  width: 400px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  color: #555555;
  border-radius: 5px;
}
main > .product form input[type="submit"] {
  background: #4e5c70;
  border: 0;
  color: #ffffff;
  width: 400px;
  padding: 12px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}
main > .product form input[type="submit"]:hover {
  background: #434f61;
}
main > .products h1 {
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 40px 0;
  font-size: 24px;
  text-align: center;
  width: 100%;
}
main > .products .buttons {
  text-align: right;
  padding-bottom: 40px;
}
main > .products .buttons a {
  display: inline-block;
  text-decoration: none;
  margin-left: 5px;
  padding: 12px 20px;
  border: 0;
  background: #4e5c70;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}
main > .products .buttons a:hover {
  background: #434f61;
  /********************************************************CART*********************************************************/
}
main .cart h1 {
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 40px 0;
  font-size: 24px;
  text-align: center;
  width: 100%;
}
main .cart table {
  width: 100%;
}
main .cart table thead td {
  padding: 30px 0;
  border-bottom: 2px solid gray;
}
main .cart table thead td:last-child {
  text-align: right;
}
main .cart table tbody td {
  padding: 20px 0;
  border-bottom: 2px solid gray;
}
main .cart table tbody td:last-child {
  text-align: right;
}
main .cart table .img {
  width: 80px;
}
main .cart table .remove {
  color: #777777;
  font-size: 16px;
  padding-top: 3px;
}
main .cart table .remove:hover {
  text-decoration: underline;
}
main .cart table .price {
  color: #999999;
}
main .cart table a {
  text-decoration: none;
  color: #555555;
}
main .cart table input[type="number"] {
  width: 68px;
  padding: 10px;
  border: 1px solid #ccc;
  color: #555555;
  border-radius: 5px;
}
main .cart .subtotal {
  text-align: right;
  padding: 40px 0;
}
main .cart .subtotal .text {
  padding-right: 40px;
  font-size: 18px;
}
main .cart .subtotal .price {
  font-size: 18px;
  color: #999999;
}
main .cart .buttons {
  text-align: right;
  padding-bottom: 40px;
}

/********************************************************FOOTER********************************************************/
footer {
  position: absolute;
  border-top: 1px solid;
  padding: 5px 0px 10px;
  width: 100%;
  background-color: #999999;
  bottom: 0;
}
